body{

font-family:Arial;
background:#f3f3f3;
padding:15px;

}

.cards{

display:flex;
gap:10px;

}

.card{

flex:1;
padding:15px;
border-radius:10px;
color:white;
text-align:center;

}

.ingreso{

background:#2ecc71;

}

.egreso{

background:#e74c3c;

}

.saldo{

background:#3498db;

}

table{

width:100%;

background:white;

margin-top:10px;

border-radius:8px;

overflow:hidden;

}

th{

background:#f5f5f5;

}

th,td{

padding:10px;
border-bottom:1px solid #ddd;
font-size:14px;

}

.btnAdd{

position:fixed;
bottom:20px;
right:20px;
width:60px;
height:60px;
border-radius:50%;
background:#27ae60;
color:white;
font-size:30px;
border:none;

}

#formContainer{

display:none;

position:fixed;
bottom:-100%;

left:0;
right:0;

background:white;

padding:20px;

border-radius:20px 20px 0 0;

transition:0.3s;

z-index:10;

}

#formContainer input,
#formContainer select{

width:100%;
padding:12px;

margin-bottom:10px;

border:1px solid #ccc;
border-radius:6px;

font-size:14px;

box-sizing:border-box;

}

.nav{

display:flex;
justify-content:space-around;
margin-bottom:15px;

}

.nav button{

flex:1;
padding:10px;
border:none;
background:#eee;
font-size:14px;

}

.seccion{

display:none;

}

.formBtns{

display:flex;
gap:10px;

}

.formBtns button{

flex:1;

padding:12px;

border:none;

border-radius:8px;

font-weight:bold;

}

.formBtns button:first-child{

background:#27ae60;
color:white;

}

.formBtns button:last-child{

background:#ccc;

}

.btnAdd{

position:fixed;

bottom:20px;
right:20px;

width:60px;
height:60px;

border-radius:50%;

background:#27ae60;

color:white;

font-size:30px;

border:none;

box-shadow:0 4px 10px rgba(0,0,0,0.3);

}

#movForm{

display:flex;
flex-direction:column;

}

#movForm input,
#movForm select{

width:100%;

padding:12px;

margin-bottom:10px;

border-radius:8px;

border:1px solid #ccc;

font-size:14px;

box-sizing:border-box;

}

/* fondo oscuro */

#overlay{

position:fixed;
top:0;
left:0;
right:0;
bottom:0;

background:rgba(0,0,0,0.5);

display:none;

z-index:5;

}

/* formulario tipo app */

#formContainer.active{

bottom:0;

}

table{
width:100%;
table-layout:fixed;
word-break:break-word;
}

td, th{
font-size:13px;
padding:8px;
}

td:last-child{
width:70px;
text-align:center;
}

td button{

border:none;
background:#eee;

padding:5px 6px;
margin:2px;

border-radius:5px;

font-size:12px;

}

.tabla-container{

overflow-x:auto;

}

table{

min-width:500px;

}

td button{

border:none;
background:#eee;

padding:4px 5px;
margin:1px;

border-radius:5px;

font-size:11px;

cursor:pointer;

}

#overlay{
cursor:pointer;
}
