body{

font-family:Arial;
background:#f3f3f3;
padding:15px;

}

.cards{

display:flex;
gap:10px;

}

.card{

flex:1;
padding:15px;
border-radius:10px;
color:white;
text-align:center;

}

.ingreso{

background:#2ecc71;

}

.egreso{

background:#e74c3c;

}

.saldo{

background:#3498db;

}

table{

width:100%;
background:white;
margin-top:20px;
border-collapse:collapse;

}

th,td{

padding:10px;
border-bottom:1px solid #ddd;
font-size:14px;

}

.btnAdd{

position:fixed;
bottom:20px;
right:20px;
width:60px;
height:60px;
border-radius:50%;
background:#27ae60;
color:white;
font-size:30px;
border:none;

}

#formContainer{

display:none;
position:fixed;
bottom:0;
left:0;
right:0;
background:white;
padding:20px;
box-shadow:0 -5px 10px rgba(0,0,0,0.2);

}

input,select{

width:100%;
padding:10px;
margin:5px 0;


}

.nav{

display:flex;
justify-content:space-around;
margin-bottom:15px;

}

.nav button{

flex:1;
padding:10px;
border:none;
background:#eee;
font-size:14px;

}

.seccion{

display:none;

}

.formBtns{

display:flex;
gap:10px;

}

.formBtns button{

flex:1;

}
